.circle {
    border-radius: 50%;
    background-color: red;
    width: 100px;
    height: 100px;
}

.mouth {
    position: absolute;
    top: 8px;
    width: 100px;
    height: 100px;
    background-color: white;
    animation-name: anim;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes anim {
    
        0% {
          clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
        }
        25% {
          clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
        }
        50% {
          clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
        }
        75% {
          clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
        }
        100% {
          clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
        }
      }